In [ ]:
import pandas as pd

file_path = '/Users/arsenegery/Desktop/Cleaned_Data_Ritual_M1/Cleaned_Data/Updated_Cleaned_HRAF_Rituals_Dataset.xlsx'
data = pd.read_excel(file_path)

# Replace all NaN values with '0'
data_filled = data.fillna(0)
# Replace all occurrences of -1 with 0
data_replaced = data_filled.replace(-1, 0)
# For replacing dates with '1', we first need to identify columns that could contain date values
date_columns = data_replaced.select_dtypes(include=['object']).columns
# Replace date-like values detected in these columns with '1'
for col in date_columns:
    data_replaced[col] = data_replaced[col].astype(str).str.replace(r'\d{4}-\d{2}-\d{2}', '1', regex=True)
# Replace commas in numerical values with dots
data_replaced = data_replaced.applymap(lambda x: str(x).replace(',', '.') if isinstance(x, str) else x)
# Check the unique values and their types in my column "Under what circumstances is one recruited to the religious tradition?"
column_name = "Under what circumstances is one recruited to the religious tradition?"
unique_values = data_replaced[column_name].unique()
# Convert all values in the column to numerical, and handling special cases
data_replaced[column_name] = data_replaced[column_name].replace('1 00:00:00', '1').astype(float)
# Removing "Details of named religious traditions" from the dataset
data_replaced.drop(columns=["Details of named religious traditions"], inplace=True)

# Copying the cleaned data file to the new specified name
new_filename = '/Users/arsenegery/Desktop/Cleaned_Data_Ritual_M1/Cleaned_Data/Cleaned_Data_HN_Master.xlsx'
data_replaced.to_excel(new_filename, index=False)

# Removing the "Society" column from the dataset before grouping rows by "Religious tradition"
data = data.drop(columns=['Society'])

# Renaming name of "Religious tradition" to avoid visualisation inefficiency. 
specific_value = "19th Century Yakut practice (Jochelson. Waldemar. 1885-1937 Kumiss festivals of the Yakut and the decoration of Kumiss vessels. 263)"
general_value = "19th Century Yakut practice"
data['Religious tradition'] = data['Religious tradition'].replace(specific_value, general_value)
data = data.replace(334, 3.34)